.row-header{
    height: 65px;
    border-bottom: solid;
    border-bottom-color: #adade4;
    border-bottom-width: thin;    
    /* min-height: 100vh; */
}

.row-header .col1{
    border-right: solid;
    border-right-color: #adade4;
    border-right-width: thin;    
    min-height: 100%;
}

.row-header .col2{
    border-right: solid;
    border-right-color: #adade4;
    border-right-width: thin;    
    min-height: 100%;
}

.row-content .col1{
    border-right: solid;
    border-right-color: #adade4;
    border-right-width: thin;    
    min-height: 95vh;
}

.row-content .col2{
    border-right: solid;
    border-right-color: #adade4;
    border-right-width: thin;    
    min-height: 95  vh;
}

.row-content img{
    width: 60px;
}

.align-center{
    text-align: center;
    padding: auto;
}

#menu-icon{
    width: 25px;
    margin: 15px;
}

.search-bar{
    margin: auto;
}

.popover-product{
    margin-left: 15px;
}

.icons-bar{
    border-bottom: solid;
    border-bottom-color: #adade4;
    border-bottom-width: thin;      
}

.customer-side{
    height:75px;
    text-align: center;
    background-color: #f8f8f8;
    padding: 11px 15px;
}

.customer-link-side{
    display: flex;
    width: 92%;
    height: 55px;
    margin: 20px ;
    margin-top: 0px;
    border:solid;
    border-color: #adade4;
    border-width: thin;
    justify-content: space-between;
    position: relative;
    background-color: white;
}
/* 
.customer-link-side>a{
    width: 45px;
} */

#icon-customer{
    width: 20px;
    /* margin: auto; */
    margin: 15px;
}

#icon-remove-customer{
    width: 20px;
    margin: 15px;
}

a{
    cursor: pointer;
}

.thumnail-image-product{
    width: auto !important;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.product-item{
    width: 24%;
    height: 275px;
    background-color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}

.cart-side{
    position: relative;
    /* background-color: beige; */

}

.interact-cart{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-around;
    bottom: 20px;
}

.hold-button{
    background-color: blue;
    border-radius: 10px;
    width: 25%;
    padding: 5px;
    
}

.hold-button h1{
    color: white;
    margin-bottom: 0px;
}

.placeorder-button{
    background-color: blue;
    border-radius: 10px;
    width: 65%;
    padding: 5px;
}   

.placeorder-button h1{
    color:white;
    margin-bottom: 0px;

}

.cart-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: 15px 0px;
    width: 100%;
    
}

.cart-item-name{
    width: 60%;
    margin: 0px 0px;
}

.cart-item-price{
    margin: 0px 0px;
}

.cart-item-image{
    position: relative;
}

.cart-item-qty{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #8888ec;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
}
.cart-item-wrapper{
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: #d3d7e8;
    display: flex;
    align-items: center;
}

.icon-remove-item{
    width: 15px !important;
    height: 15px;
}

.icon-remove-item :hover{
    width: 30px;
    height: 30px;
}